body {
    margin: 0;
    text-align: center;
    font-family: "Helvectica Neue", 'Montserrat', 'Fira Sans', Helvetica, Arial, sans-serif;
    color: #40514E;
}

h1 {
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: "Helvectica Neue", 'Montserrat', 'Fira Sans', Helvetica, Arial, sans-serif;
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: "Helvectica Neue", 'Montserrat', 'Fira Sans', Helvetica, Arial, sans-serif;
    color: #11999E
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

p{
    line-height: 2;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.pro {
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
    
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: sticky;
    right: 300px;
    bottom: 350px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skills{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.code-img{
    width: 150px;
    float: left;
    margin-right: 30px
}

.aws-img{
    widows: 150px;
    float: right;
    margin-right: 30px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    font-size: 55px;
    color:black;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Dancing Script', cursive;
  }

  .myButton {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:8px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
    font-family: "Helvectica Neue", 'Montserrat', 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:5px 7px;
	text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
}

  .myButton:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}

.contact-me{
    padding: 20px;
}

.footer-link{
    color: #EAF6F6;
    font-size: 20px;
    margin: 2em;
}